Repository equinor/flotilla, pull requests merged in 2023-02, with the labels that each got.

#547 Update ClientId and keyvault information
  backend/api/appsettings.Development.json
  backend/api/appsettings.Production.json
  backend/api/appsettings.Staging.json
Labels: improvement

#542 Add support for several video stream formats
  backend/api.test/Services/RobotService.cs
  backend/api/Controllers/Models/CreateVideoStreamQuery.cs
  backend/api/Database/Context/InitDb.cs
  backend/api/Database/Models/VideoStream.cs
  backend/api/Services/RobotService.cs
  frontend/src/components/Pages/MissionPage/VideoStream/Video.tsx
  frontend/src/components/Pages/MissionPage/VideoStream/VideoPlayerOvenPlayer.tsx
  frontend/src/components/Pages/MissionPage/VideoStream/VideoPlayerSimple.tsx
  frontend/src/components/Pages/MissionPage/VideoStream/VideoStreamWindow.tsx
  frontend/src/models/VideoStream.ts
Labels: database-change

#551 Add default map to scheduled missions
  backend/api/Controllers/MissionController.cs
  backend/api/appsettings.Development.json
Labels: bug, backend

#553 Map name bug
  backend/api/appsettings.Development.json
Labels: bug, backend

#557 Remove wrong keyword in deploy workflow
  .github/workflows/publish_docker_image.yml
Labels: improvement

#566 Add write line for environment
  backend/api/Program.cs
Labels: backend, improvement

#544 Database reset and fixes
  backend/README.md
  backend/api.test/EventHandlers/TestMissionScheduler.cs
  backend/api.test/Services/MissionService.cs
  backend/api/Database/Models/IsarStep.cs
  backend/api/Database/Models/IsarTask.cs
  backend/api/Database/Models/Mission.cs
  backend/api/Database/Models/MissionMap.cs
  backend/api/Database/Models/PlannedTask.cs
  backend/api/Database/Models/Pose.cs
  backend/api/Database/Models/Robot.cs
  backend/api/Database/Models/VideoStream.cs
  backend/api/Migrations/20220805103054_InitialCreate.Designer.cs
  backend/api/Migrations/20220805103054_InitialCreate.cs
  backend/api/Migrations/20220922134102_new_mission_structure.Designer.cs
  backend/api/Migrations/20220922134102_new_mission_structure.cs
  backend/api/Migrations/20221018070529_robot-model-to-int.Designer.cs
  backend/api/Migrations/20221018070529_robot-model-to-int.cs
  backend/api/Migrations/20221018071827_add-robot-name.cs
  backend/api/Migrations/20230210113317_InitialCreate.Designer.cs
  backend/api/Migrations/20230210113317_InitialCreate.cs
  backend/api/Migrations/FlotillaDbContextModelSnapshot.cs
Labels: database-change

#580 Change trigger to 'pull_request_target'
  .github/workflows/notifyMigrationChanges.yml
  .github/workflows/notifyPossibleMigrationUpdate.yml
Labels: backend

#581 Remove control buttons in past missions headers
  frontend/src/components/Pages/MissionPage/MissionHeader/MissionHeader.tsx
Labels: frontend

#582 Check if reviews are empty
  .github/workflows/updateDatabase.yml
Labels: backend

#587 Make backend api scope configurable
  .github/workflows/frontend_lint_and_test.yml
  docker-compose.yml
  frontend/.env.example
  frontend/public/index.html
  frontend/run_nginx.sh
  frontend/src/api/AuthConfig.tsx
  frontend/src/config.ts
  radixconfig.yaml
Labels: improvement, frontend

#586 Fix frontend base route
  docker-compose.yml
  frontend/.env.example
  frontend/public/index.html
  frontend/run_nginx.sh
  frontend/src/components/Pages/FlotillaSite.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/FailedMissionAlertView.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/OngoingMissionCard.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/PastMissionCard.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/UpcomingMissionCard.tsx
  frontend/src/config.ts
  radixconfig.yaml
Labels: improvement, frontend

#585 Add workflow verifying migrations if needed
  .github/workflows/migration_workflows/migrationNotNeeded.yml
  .github/workflows/migration_workflows/notifyMigrationChanges.yml
  .github/workflows/migration_workflows/notifyPossibleMigrationUpdate.yml
  .github/workflows/migration_workflows/runMigrations.yml
  .github/workflows/migration_workflows/updateDatabase.yml
  .github/workflows/migration_workflows/verifyMigrationsIfNeeded.yml
  .github/workflows/promoteToProduction.yml
  .github/workflows/promoteToStaging.yml
  backend/README.md
Labels: backend

#589 Fix workflow syntax
  .github/workflows/migrationNotNeeded.yml
  .github/workflows/notifyMigrationChanges.yml
  .github/workflows/notifyPossibleMigrationUpdate.yml
  .github/workflows/promoteToProduction.yml
  .github/workflows/promoteToStaging.yml
  .github/workflows/runMigrations.yml
  .github/workflows/updateDatabase.yml
  .github/workflows/verifyMigrationsIfNeeded.yml
  backend/README.md
Labels: bug

#616 Set default log level to warning
  backend/api/appsettings.Development.json
  backend/api/appsettings.Production.json
  backend/api/appsettings.Staging.json
  backend/api/appsettings.Test.json
  backend/api/appsettings.json
Labels: backend, improvement

#620 Add workflow_dispatch trigger to promotion pipelines
  .github/workflows/promoteToProduction.yml
  .github/workflows/promoteToStaging.yml
Labels: improvement

#623 Update some logging
  backend/api/EventHandlers/IsarConnectionEventHandler.cs
  backend/api/EventHandlers/MqttEventHandler.cs
  backend/api/Services/EchoService.cs
Labels: backend, improvement

#631 Show partially successful in past missions
  frontend/src/components/Pages/FrontPage/MissionOverview/PastMissionsView.tsx
  frontend/src/models/Mission.ts
Labels: bug, frontend

#614 Update README
  README.md
Labels: documentation

#632 Use dynamic installation code rather than config
  backend/api/Controllers/MissionController.cs
  backend/api/Services/EchoService.cs
  backend/api/Services/StidService.cs
Labels: bug
