Repository equinor/flotilla, pull requests merged in 2023-03, with the labels that each got.

#634 Let user choose language
  frontend/src/components/Contexts/LanguageContext.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Header/SelectLanguageDialog.tsx
  frontend/src/language/en.json
  frontend/src/language/index.tsx
  frontend/src/language/no.json
Labels: feature

#649 Fix ISAR auth wrong client ids
  backend/api/appsettings.Development.json
  backend/api/appsettings.Production.json
  backend/api/appsettings.Staging.json
  backend/api/appsettings.json
Labels: bug, backend

#652 Add response content to ISAR logs
  backend/api/Services/IsarService.cs
Labels: backend, improvement

#659 Lock action versions
  .github/workflows/notifyPossibleMigrationUpdate.yml
  .github/workflows/verifyMigrations.yml
Labels: bug

#655 Add link to Flotilla front page in top bar
  frontend/src/components/Header/Header.tsx
Labels: frontend

#671 Add IsarId to local database
  backend/api/Database/Context/InitDb.cs
Labels: bug, backend

#681 Catch and log null reference exception for pose
  backend/api/EventHandlers/MqttEventHandler.cs
Labels: improvement

#705 Use warning icon for partially successful mission
  frontend/src/components/Pages/FrontPage/MissionOverview/MissionStatusDisplay.tsx
Labels: bug, frontend

#719 Remove debug logging in frontend
  frontend/src/components/Pages/MissionHistoryPage/MissionHistoryView.tsx
  frontend/src/components/Pages/MissionPage/MapPosition/MapMarkers.tsx
Labels: improvement, frontend

#720 Order mission queue by time in backend
  backend/api/EventHandlers/MissionScheduler.cs
Labels: bug, backend
