Repository equinor/flotilla, pull requests merged in 2023-06, with the labels that each got.

#830 Compare asset to lower case asset input
  frontend/src/components/Pages/FrontPage/RobotCards/RobotStatusView.tsx
Labels: bug

#819 Add "Pause" to translation files
  frontend/src/language/en.json
  frontend/src/language/no.json
Labels: frontend

#841 Add hover icons on ongoing mission card
  frontend/src/components/Pages/FrontPage/MissionOverview/MissionControlButtons.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/OngoingMissionCard.tsx
  frontend/src/components/Pages/FrontPage/RobotCards/RobotStatusCard.tsx
Labels: frontend

#828 Calculate pose with quaternion clockwise rotation
  backend/api.test/Database/Models.cs
  backend/api/Database/Models/Pose.cs
  backend/api/Services/EchoService.cs
  backend/api/Services/Models/EchoPoseResponse.cs
Labels: backend

#842 Set boundaries to min and max values automatically
  backend/api/Database/Models/MissionMap.cs
Labels: bug, improvement
