Repository equinor/flotilla, pull requests merged in 2023-12, with the labels that each got.

#1202 Readd populate db in missions test
  backend/api.test/Client/MissionTests.cs
Labels: backend, improvement

#1235 Add trufflehog github workflow
  .github/workflows/scan_with_trufflehog.yml
Labels: improvement

#1255 Remove area from robot query
  backend/api.test/Client/RobotTests.cs
  backend/api.test/Database/DatabaseUtilities.cs
  backend/api.test/EventHandlers/TestMissionEventHandler.cs
  backend/api.test/Services/MissionService.cs
  backend/api.test/Services/RobotService.cs
  backend/api/Controllers/Models/CreateRobotQuery.cs
  backend/api/Services/RobotService.cs
Labels: bug

#1196 Improve appearance of no missions available dialog
  frontend/src/components/Pages/FrontPage/MissionOverview/ScheduleMissionDialog/NoMissionsDialog.tsx
  frontend/src/language/en.json
  frontend/src/language/no.json
Labels: improvement, frontend

#1246 Remove LINQ errors for filtering
  backend/api/Services/MissionRunService.cs
Labels: bug, backend, database-change

#1263 Require admin privileges to view inspections
  backend/api/EventHandlers/InspectionFindingEventHandler.cs
  backend/api/Services/AccessRoleService.cs
  backend/api/Services/InspectionFindingService.cs
  backend/api/Services/InspectionService.cs
Labels: backend, improvement

#1278 Compare deck and installation using ID
  backend/api/Services/LocalizationService.cs
Labels: bug, database-change

#1288 Set default launch profile to Local
  backend/api/Properties/launchSettings.json
Labels: backend

#1253 Utilise non-admin roles in tests
  backend/api.test/Client/RoleAccessTests.cs
  backend/api.test/DbContextTestSetup.cs
  backend/api.test/Mocks/HttpContextAccessorMock.cs
  backend/api.test/TestWebApplicationFactory.cs
  backend/api/Controllers/AccessRoleController.cs
  backend/api/Controllers/Models/CreateAccessRoleQuery.cs
  backend/api/Services/AccessRoleService.cs
Labels: backend, improvement
