Repository equinor/flotilla, pull requests merged in 2023-11, with the labels that each got.

#1074 Fix inconsistencies on the frontend
  frontend/src/components/Pages/FrontPage/MissionOverview/MissionQueueCard.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/OngoingMissionCard.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/ScheduleMissionDialog.tsx
  frontend/src/components/Pages/FrontPage/RobotCards/PressureStatusView.tsx
  frontend/src/components/Pages/FrontPage/RobotCards/RobotImage.tsx
  frontend/src/components/Pages/FrontPage/RobotCards/RobotStatusCard.tsx
  frontend/src/mediaAssets/taurob_inspector_no_background.png
Labels: good first issue, frontend

#1122 Remove check for desired start time
  backend/api/EventHandlers/MissionScheduling.cs
Labels: bug

#1065 Create consistent ordering of inspections
  frontend/src/components/Pages/InspectionPage/InspectionUtilities.tsx
Labels: frontend

#1125 Fix localization map
  backend/api/Controllers/Models/AreaResponse.cs
Labels: bug, backend, frontend

#1128 Match ordering of enums in frontend and backend
  backend/api/Database/Models/Robot.cs
  frontend/src/models/Robot.ts
Labels: bug

#1131 Remove unused imports
  frontend/src/components/Contexts/SafeZoneContext.tsx
Labels: improvement, frontend

#1133 Fix area display on deck cards
  frontend/src/components/Pages/InspectionPage/DeckCards.tsx
  frontend/src/components/Pages/InspectionPage/InspectionUtilities.tsx
Labels: bug, frontend

#1120 Improve appearance of mission queue
  frontend/src/components/Pages/FrontPage/MissionOverview/MissionQueueCard.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/OngoingMissionCard.tsx
  frontend/src/components/Pages/FrontPage/RobotCards/RobotStatusCard.tsx
  frontend/src/components/Pages/RobotPage/RobotArmMovement.tsx
Labels: frontend

#1115 Remove duplicate code
  backend/api/Database/Context/FlotillaDbContext.cs
Labels: improvement

#1138 Remove duplicate scoped event handler
  backend/api/EventHandlers/MissionEventHandler.cs
  backend/api/EventHandlers/MissionScheduling.cs
  backend/api/EventHandlers/MqttEventHandler.cs
  backend/api/Program.cs
  backend/api/Services/MissionSchedulingService.cs
Labels: bug

#1149 Fix inspection frequency being uneditable
  frontend/src/components/Pages/MissionDefinitionPage/MissionDefinitionPage.tsx
Labels: bug, frontend

#1142 Fix confirmation button asset page
  frontend/src/components/Pages/AssetSelectionPage/AssetSelectionPage.tsx
Labels: bug, frontend

#1152 Stop mission if robot is idle
  backend/api/Controllers/RobotController.cs
  backend/api/Services/IsarService.cs
  backend/api/Services/MissionSchedulingService.cs
Labels: backend

#1157 Fix schedule mission button on inpection page
  frontend/src/components/Pages/InspectionPage/ScheduleMissionDialogs.tsx
Labels: good first issue, frontend

#1119 Remove Populate Area function in tests
  backend/api.test/Client/AreaTests.cs
  backend/api.test/Client/MissionTests.cs
  backend/api.test/Client/RobotTests.cs
  backend/api.test/EndpointTest.cs
  backend/api.test/Mocks/EchoServiceMock.cs
  backend/api.test/TestWebApplicationFactory.cs
  backend/api/Controllers/MissionSchedulingController.cs
  backend/api/Controllers/Models/AreaResponse.cs
  backend/api/Controllers/Models/DeckResponse.cs
  backend/api/Controllers/Models/MissionDefinitionResponse.cs
Labels: backend, improvement

#1170 Increase page size on test
  backend/api.test/Client/MissionTests.cs
Labels: bug, backend

#1172 Compare to lower case values
  backend/api/Services/RobotService.cs
Labels: bug

#1171 Filter ongoing and queued missions by installation
  frontend/src/components/Pages/FrontPage/MissionOverview/MissionQueueView.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/OngoingMissionView.tsx
Labels: frontend

#1175 Set dotnet ef version to 7.0.13 in pipelines
  .github/workflows/runMigrations.yml
Labels: bug

#1178 Fix filtering of missions by installation
  frontend/src/components/Pages/FrontPage/MissionOverview/MissionQueueView.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/OngoingMissionView.tsx
Labels: bug, frontend

#1179 Fix mission placeholder
  frontend/src/components/Pages/FrontPage/MissionOverview/MissionQueueView.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/OngoingMissionView.tsx
Labels: bug, frontend

#1150 Add InspectionFindings endpoint to Flotilla API
  backend/api/Controllers/InspectionFindingsController.cs
  backend/api/Controllers/Models/InspectionFindingsQuery.cs
  backend/api/Controllers/Models/InspectionFindingsResponse.cs
  backend/api/Database/Models/InspectionFindings.cs
  backend/api/Services/InspectionService.cs
Labels: database-change

#1185 Fix migration issues
  backend/api/Controllers/InspectionFindingsController.cs
  backend/api/Database/Context/FlotillaDbContext.cs
  backend/api/Database/Models/Inspection.cs
  backend/api/Database/Models/InspectionFinding.cs
  backend/api/Migrations/20231115130240_AddInspectionFindingsTable.Designer.cs
  backend/api/Migrations/20231115130240_AddInspectionFindingsTable.cs
  backend/api/Services/InspectionService.cs
  backend/api/Services/MissionDefinitionService.cs
  backend/api/Services/MissionTaskService.cs
Labels: database-change

#1190 Fix already scheduled warning not appearing when scheduling entire deck
  frontend/src/components/Pages/InspectionPage/InspectionSection.tsx
Labels: bug, frontend

#1192 Remove circular dependency in useEffect
  frontend/src/components/Contexts/AlertContext.tsx
Labels: bug, frontend

#1209 Fix rerun mission
  frontend/src/models/CustomMission.ts
  frontend/src/models/Inspection.ts
Labels: bug, frontend

#1205 Add eslint to frontend pipeline
  .github/workflows/frontend_lint_and_test.yml
  frontend/src/components/Contexts/MissionListsContext.tsx
Labels: frontend

#1219 Fix duplicates in mission queue
  frontend/src/components/Contexts/MissionListsContext.tsx
Labels: bug, frontend

#1224 Refactor robotTest with robotResponse
  backend/api.test/Client/RobotTests.cs
Labels: backend
