Repository equinor/flotilla, pull requests merged in 2023-08, with the labels that each got.

#935 Make new nested objects in Area optional
  backend/api/Database/Models/Area.cs
  backend/api/Migrations/20230803121231_MissionRunRefactorWithOptionalAreaFKs.Designer.cs
  backend/api/Migrations/20230803121231_MissionRunRefactorWithOptionalAreaFKs.cs
  backend/api/Migrations/FlotillaDbContextModelSnapshot.cs
Labels: database-change

#923 Add mission rerun to translations
  frontend/src/components/Pages/FrontPage/MissionOverview/MissionRestartButton.tsx
  frontend/src/components/Pages/MissionPage/MapPosition/MissionMapView.tsx
  frontend/src/language/en.json
  frontend/src/language/no.json
  frontend/src/models/Mission.ts
  frontend/src/utils/MapMarkers.tsx
Labels: bug, good first issue, frontend

#937 Rename deckId to areaId in request
  frontend/src/api/ApiCaller.tsx
Labels: bug, frontend

#940 Make areaname nullable in queries
  backend/api/Controllers/MissionController.cs
  backend/api/Controllers/Models/CustomMissionQuery.cs
  backend/api/Controllers/Models/ScheduledMissionQuery.cs
Labels: bug

#945 List only robots on selected asset in planner
  frontend/src/components/Pages/FrontPage/MissionOverview/MissionQueueView.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/ScheduleMissionDialog.tsx
Labels: improvement, frontend

#949 Fix robot direction in echo missions
  backend/api/Services/EchoService.cs
  backend/api/Services/Models/EchoPoseResponse.cs
Labels: bug, backend

#925 Translate autocomplete placeholder
  frontend/src/components/Pages/FrontPage/MissionOverview/MissionQueueView.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/ScheduleMissionDialog.tsx
Labels: frontend

#953 Fix mission dropdown when scheduling echo mission
  backend/api/Controllers/EchoController.cs
  frontend/src/api/ApiCaller.tsx
Labels: bug, backend, frontend

#961 Fix warning in localizationDialog
  frontend/src/components/Pages/RobotPage/LocalizationDialog.tsx
Labels: improvement, frontend

#965 Update quaternion calculation
  backend/api.test/Database/Models.cs
  backend/api/Database/Models/Pose.cs
Labels: backend

#960 Hide tooltip when menu is open
  frontend/src/components/Pages/FrontPage/MissionOverview/MissionRestartButton.tsx
  frontend/src/language/en.json
  frontend/src/language/no.json
Labels: bug, frontend

#958 Improve appearance of clear filter button
  frontend/src/components/Pages/MissionHistoryPage/FilterSection.tsx
Labels: improvement, frontend

#971 Fix dropdowns in frontend
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/ScheduleMissionDialog.tsx
  frontend/src/components/Pages/MissionHistoryPage/FilterSection.tsx
  frontend/src/components/Pages/RobotPage/LocalizationDialog.tsx
Labels: bug, frontend

#981 Remove old github action
  .github/workflows/repository_dispatch_on_merge.yml
Labels: improvement

#983 Use robot specific mission run queues
  backend/api.test/EventHandlers/TestMissionEventHandler.cs
  backend/api/EventHandlers/MissionEventHandler.cs
Labels: bug
