Repository equinor/flotilla, pull requests merged in 2023-09, with the labels that each got.

#1005 Add Up and Down method
  backend/api/Migrations/20230908083418_AddDefaultLocalizationAreaToDeck.cs
Labels: database-change

#993 Only show rerun failed missions when applicable
  backend/api/Database/Context/InitDb.cs
  frontend/src/api/ApiCaller.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/MissionRestartButton.tsx
  frontend/src/components/Pages/MissionHistoryPage/MissionHistoryView.tsx
  frontend/src/components/Pages/MissionPage/TaskOverview/TaskTable.tsx
Labels: bug, frontend

#1013 Remove default localization area from deck
  backend/api/Controllers/DeckController.cs
  backend/api/Database/Context/FlotillaDbContext.cs
  backend/api/Database/Models/Deck.cs
  backend/api/Migrations/20230908083418_AddDefaultLocalizationAreaToDeck.Designer.cs
  backend/api/Migrations/20230908083418_AddDefaultLocalizationAreaToDeck.cs
  backend/api/Migrations/FlotillaDbContextModelSnapshot.cs
  backend/api/Services/DeckService.cs
Labels: database-change

#1022 Call echo on behalf of users
  backend/api/Configurations/CustomServiceConfigurations.cs
  backend/api/Services/EchoService.cs
Labels: bug

#1028 Handle the case where frequency or lastRun is null
  frontend/src/utils/StringFormatting.tsx
Labels: bug

#1027 Update to .net version 7
  .github/workflows/backend_lint_and_test.yml
  backend/api.test/EndpointTest.cs
  backend/api.test/EventHandlers/TestMissionEventHandler.cs
  backend/api.test/Mocks/CustomMissionServiceMock.cs
  backend/api.test/Services/MissionService.cs
  backend/api.test/Services/RobotService.cs
  backend/api.test/api.test.csproj
  backend/api/MQTT/MqttService.cs
  backend/api/Program.cs
  backend/api/Services/CustomMissionService.cs
  backend/api/Services/EchoService.cs
  backend/api/Services/IsarService.cs
  backend/api/Services/SortingService.cs
  backend/api/Services/StidService.cs
  backend/api/Utilities/AsyncExtensions.cs
  backend/api/api.csproj
  backend/api/appsettings.Test.json
Labels: backend

#1031 Use array of scopes for downstream API config
  backend/api/appsettings.Development.json
  backend/api/appsettings.Production.json
  backend/api/appsettings.Staging.json
  backend/api/appsettings.json
Labels: bug

#1032 Refactor mission run endpoints into new controller
  backend/api/Controllers/MissionController.cs
  backend/api/Controllers/MissionRunController.cs
Labels: backend, improvement

#1034 Replace expired broker certificates
  broker/mosquitto/config/certs/ca-cert.pem
  broker/mosquitto/config/certs/server-cert.pem
Labels: bug

#1014 Handle exceptions when uploading blob
  backend/api.test/Mocks/BlobServiceMock.cs
  backend/api.test/Mocks/CustomMissionServiceMock.cs
  backend/api/Controllers/MissionController.cs
  backend/api/Services/BlobService.cs
  backend/api/Services/CustomMissionService.cs
  backend/api/Utilities/Exceptions.cs
Labels: bug, backend

#1017 Add new Assetselection start page
  frontend/run_nginx.sh
  frontend/src/App.tsx
  frontend/src/components/Contexts/InstallationContext.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Pages/AssetSelectionPage/AssetSelectionPage.tsx
  frontend/src/components/Pages/FlotillaSite.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/MissionRestartButton.tsx
  frontend/src/components/Pages/SignInPage/SignInPage.tsx
  frontend/src/language/en.json
  frontend/src/language/no.json
  frontend/src/mediaAssets/Asset.png
  frontend/src/utils/icons.tsx
Labels: improvement, frontend, ux
