Repository equinor/flotilla, pull requests merged in 2023-10, with the labels that each got.

#1036 Remove remnants of predefined pose functionality
  backend/api/Services/Models/IsarMissionDefinition.cs
  backend/api/Utilities/PredefinedPose.cs
  backend/api/Utilities/PredefinedPoses.json
Labels: improvement

#1038 Avoid reordering already ordered missions
  backend/api/Controllers/MissionDefinitionController.cs
  backend/api/Utilities/PagedList.cs
Labels: bug, backend

#1042 Fix bug where robot and robot model is not properly linked
  backend/api/EventHandlers/MqttEventHandler.cs
  backend/api/Services/RobotService.cs
Labels: bug, backend

#1051 Validate chosen installation name
  frontend/src/components/Pages/AssetSelectionPage/AssetSelectionPage.tsx
Labels: bug, frontend

#1064 Fix not being able to search for assets
  frontend/src/components/Pages/AssetSelectionPage/AssetSelectionPage.tsx
Labels: bug, frontend

#1058 Fix mission order
  backend/api/Services/SortingService.cs
  backend/api/Utilities/PagedList.cs
Labels: bug, backend

#1069 Wait to send requests until logged in
  frontend/src/components/Contexts/MissionListsContext.tsx
Labels: bug, frontend

#1076 Make sure db does not create new robot on mission run create
  backend/api/Services/MissionRunService.cs
Labels: backend

#1081 Fix typo in norwegian translation
  frontend/src/language/no.json
Labels: improvement, frontend

#1083 Refactor add timer functionality
  backend/api/EventHandlers/IsarConnectionEventHandler.cs
Labels: improvement

#1066 Visual indexing for the mission queue
  frontend/src/components/Pages/FrontPage/MissionOverview/MissionQueueCard.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/MissionQueueView.tsx
  frontend/src/models/Mission.ts
  frontend/src/models/Robot.ts
  frontend/src/models/RobotModel.ts
Labels: improvement, frontend
