Repository equinor/flotilla, pull requests merged in 2023-05, with the labels that each got.

#782 Select map based on most tags within map
  backend/api/Services/MapService.cs
Labels: bug

#781 Place ongoing task on top of map
  frontend/src/components/Pages/MissionPage/MapPosition/MapMarkers.tsx
  frontend/src/components/Pages/MissionPage/MapPosition/MapView.tsx
  frontend/src/components/Pages/MissionPage/MarkerStyles.tsx
  frontend/src/components/Pages/MissionPage/TaskOverview/TaskTable.tsx
Labels: improvement, frontend

#795 Add supported browsers to readme
  frontend/README.md
Labels: documentation, frontend

#804 Add HTTPS dev certificate instructions to readme
  backend/README.md
Labels: bug, documentation

#803 Update echo mission planner link
  frontend/src/components/Pages/FrontPage/MissionOverview/CreateMissionButton.tsx
Labels: bug, frontend

#806 Add popover for ipad usage
  frontend/src/components/Pages/FrontPage/MissionOverview/CreateMissionButton.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/ScheduleMissionDialog.tsx
Labels: feature, frontend

#814 Ensure FIFO queue for custom missions
  backend/api/Controllers/MissionController.cs
  backend/api/Controllers/Models/CustomMissionQuery.cs
Labels: backend

#821 Use floating point division to select map
  backend/api/Services/MapService.cs
Labels: bug

#822 Validate robot info input
  backend/api/EventHandlers/MqttEventHandler.cs
Labels: bug, improvement
