Repository equinor/flotilla, pull requests merged in 2024-05, with the labels that each got.

#1588 Remove unused variable
  backend/api.test/EventHandlers/TestMissionEventHandler.cs
  backend/api.test/Mocks/StidServiceMock.cs
  backend/api/Services/MissionDefinitionService.cs
  backend/api/Services/SourceService.cs
  backend/api/Services/StidService.cs
Labels: bug, backend

#1572 Pressure table on robot page
  frontend/src/components/Pages/RobotPage/PressureTable.tsx
  frontend/src/components/Pages/RobotPage/RobotPage.tsx
  frontend/src/language/en.json
  frontend/src/language/no.json
Labels: frontend

#1585 Fix error message for scheduling in unknown area
  backend/api/Controllers/MissionSchedulingController.cs
Labels: bug, backend

#1589 Prevent load icon to appear for all missions when pausing
  frontend/src/components/Contexts/MissionControlContext.tsx
  frontend/src/components/Displays/MissionButtons/MissionControlButtons.tsx
Labels: bug, frontend

#1584 Refactor robot status
  backend/api.test/EventHandlers/TestMissionEventHandler.cs
  backend/api/EventHandlers/MqttEventHandler.cs
  backend/api/MQTT/MessageModels/IsarRobotStatus.cs
  backend/api/MQTT/MessageModels/IsarStatus.cs
  backend/api/MQTT/MqttService.cs
  backend/api/MQTT/MqttTopics.cs
  backend/api/appsettings.Development.json
  backend/api/appsettings.Local.json
  backend/api/appsettings.Production.json
  backend/api/appsettings.Staging.json
  backend/api/appsettings.Test.json
Labels: backend, breaking-change
