Repository equinor/flotilla, pull requests merged in 2024-08, with the labels that each got.

#1694 Move installation filtering to contexts
  frontend/src/components/Contexts/AlertContext.tsx
  frontend/src/components/Contexts/InstallationContext.tsx
  frontend/src/components/Contexts/MissionDefinitionsContext.tsx
  frontend/src/components/Contexts/MissionRunsContext.tsx
  frontend/src/components/Contexts/RobotContext.tsx
  frontend/src/components/Contexts/SafeZoneContext.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/MissionQueueView.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/OngoingMissionView.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/ScheduleMissionDialog/SelectMissionsToScheduleDialog.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/StopDialogs.tsx
  frontend/src/components/Pages/FrontPage/RobotCards/RobotStatusSection.tsx
  frontend/src/components/Pages/InspectionPage/DeckCards.tsx
  frontend/src/components/Pages/InspectionPage/InspectionOverview.tsx
  frontend/src/components/Pages/InspectionPage/InspectionSection.tsx
  frontend/src/components/Pages/InspectionPage/InspectionTable.tsx
  frontend/src/components/Pages/InspectionPage/ScheduleMissionDialogs.tsx
Labels: bug, improvement, frontend

#1699 Filtering robots in ScheduleMissionDialogs.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/ScheduleMissionDialog/SelectMissionsToScheduleDialog.tsx
  frontend/src/components/Pages/InspectionPage/ScheduleMissionDialogs.tsx
Labels: frontend

#1714 Add missing filter translation
  frontend/src/language/en.json
  frontend/src/language/no.json
Labels: bug, frontend

#1718 Fix dialogs during ongoing localization mission
  frontend/src/components/Displays/ConfirmScheduleDialogs/LocalizationVerification/ScheduleMissionWithLocalizationVerification.tsx
Labels: bug, frontend

#1715 Fix filtering by missiondefinition name
  backend/api/Services/MissionDefinitionService.cs
Labels: bug, backend
