Repository equinor/flotilla, pull requests merged in 2024-04, with the labels that each got.

#1503 Use integer when presenting battery percentage
  frontend/src/components/Displays/RobotDisplays/BatteryStatusDisplay.tsx
  frontend/src/components/Pages/MissionPage/MissionHeader/MissionHeader.tsx
Labels: improvement, frontend

#1494 Display isar connection issues on status chip
  frontend/src/components/Displays/RobotDisplays/RobotStatusChip.tsx
  frontend/src/components/Pages/FrontPage/RobotCards/RobotStatusCard.tsx
  frontend/src/components/Pages/RobotPage/RobotPage.tsx
  frontend/src/language/en.json
  frontend/src/language/no.json
  frontend/src/models/Robot.ts
Labels: improvement, frontend

#1501 Hide deprecated mission definitions
  backend/api/Services/MissionDefinitionService.cs
Labels: backend, improvement

#1502 Ignore MoveArm step in flotilla
  backend/api/EventHandlers/MqttEventHandler.cs
Labels: bug, good first issue, backend

#1504 Prevent many tasks being indexed with index 1
  backend/api/Services/EchoService.cs
  frontend/src/components/Pages/MissionPage/TaskOverview/TaskTable.tsx
  frontend/src/utils/MapMarkers.tsx
Labels: bug, backend, frontend

#1500 Refactor set robot to unavailable function
  backend/api/Controllers/RobotController.cs
  backend/api/Services/MissionSchedulingService.cs
  backend/api/Services/RobotService.cs
Labels: backend, improvement

#1498 Do not update robot status on timeout
  backend/api/EventHandlers/IsarConnectionEventHandler.cs
Labels: good first issue, backend, improvement

#1512 Use string representation for enum in SignalR
  backend/api/Services/SignalRService.cs
  frontend/src/components/Contexts/MissionDefinitionsContext.tsx
  frontend/src/components/Contexts/MissionRunsContext.tsx
  frontend/src/components/Contexts/RobotContext.tsx
  frontend/src/components/Pages/MissionPage/MissionPage.tsx
  frontend/src/utils/EnumTranslations.tsx
Labels: backend, improvement, frontend

#1482 Fail ongoing missions that don't run in isar
  backend/api/Database/Models/MissionRun.cs
  backend/api/EventHandlers/IsarConnectionEventHandler.cs
  backend/api/EventHandlers/MissionEventHandler.cs
  backend/api/Services/RobotService.cs
Labels: bug, backend

#1533 Avoid zero battery being intepreted as null
  frontend/src/components/Displays/RobotDisplays/BatteryStatusDisplay.tsx
Labels: bug, frontend

#1536 Return error when using unsupported sensors
  backend/api/Controllers/MissionSchedulingController.cs
  backend/api/Database/Models/Inspection.cs
  backend/api/Services/LocalizationService.cs
  backend/api/Services/MissionRunService.cs
  backend/api/Services/MissionSchedulingService.cs
  backend/api/Services/ReturnToHomeService.cs
  backend/api/Utilities/Exceptions.cs
Labels: feature, backend

#1553 Fix mix between UTC and local time
  frontend/src/components/Pages/MissionHistoryPage/HistoricMissionCard.tsx
  frontend/src/components/Pages/MissionPage/MissionHeader/MissionHeader.tsx
  frontend/src/utils/StringFormatting.tsx
Labels: bug, frontend

#1566 Check if tasks remain when adding mission to list of ongoing missions
  frontend/src/components/Contexts/MissionRunsContext.tsx
Labels: bug, frontend

#1568 Add return_to_home to capabilities
  backend/api/Database/Models/Robot.cs
Labels: bug

#1570 Correct error message for robotNotAvailable
  backend/api/EventHandlers/MissionEventHandler.cs
Labels: backend, improvement

#1571 Allow tags in several decks in missions
  backend/api/Controllers/MissionSchedulingController.cs
Labels: bug, backend

#1546 Fix stop ongoing mission dialogs
  frontend/src/components/Displays/MissionButtons/MissionControlButtons.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/OngoingMissionCard.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/StopDialogs.tsx
  frontend/src/components/Pages/MissionPage/MissionHeader/MissionHeader.tsx
  frontend/src/language/en.json
  frontend/src/language/no.json
  frontend/src/models/Task.ts
Labels: bug, frontend
