Repository equinor/flotilla, pull requests merged in 2024-01, with the labels that each got.

#1298 Banner and setting alert for blocked Robot
  frontend/src/components/Alerts/BlockedRobotAlert.tsx
  frontend/src/components/Contexts/AlertContext.tsx
  frontend/src/components/Pages/FrontPage/RobotCards/RobotStatusSection.tsx
Labels: feature, improvement, frontend

#1299 Add translation for failed request alerts
  frontend/src/components/Pages/FrontPage/MissionOverview/ScheduleMissionDialog/ScheduleMissionDialog.tsx
  frontend/src/language/en.json
  frontend/src/language/no.json
Labels: frontend

#1279 Update individual properties
  backend/api.test/EventHandlers/TestMissionEventHandler.cs
  backend/api/Controllers/RobotController.cs
  backend/api/EventHandlers/MqttEventHandler.cs
  backend/api/Services/MissionRunService.cs
  backend/api/Services/RobotService.cs
Labels: improvement

#1302 Fix api call to get map
  frontend/src/api/ApiCaller.tsx
Labels: bug, frontend

#1314 Add ellipsis to robot name on ongoing mission card
  frontend/src/components/Displays/MissionDisplays/MissionRobotDisplay.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/OngoingMissionCard.tsx
Labels: improvement, frontend

#1317 Sort robots by status and name
  frontend/src/components/Pages/FrontPage/RobotCards/RobotStatusSection.tsx
Labels: improvement, frontend

#1324 Improve blocked alert
  frontend/src/components/Alerts/BlockedRobotAlert.tsx
  frontend/src/components/Contexts/AlertContext.tsx
  frontend/src/components/Pages/FrontPage/RobotCards/RobotStatusSection.tsx
  frontend/src/language/en.json
  frontend/src/language/no.json
Labels: bug, frontend

#1308 Filter away localisation/return missions
  backend/api/Controllers/Models/MissionRunQueryStringParameters.cs
  backend/api/Services/MissionRunService.cs
Labels: backend, improvement

#1328 Refactor ongoing mission page for iphone use
  frontend/src/components/Pages/MissionPage/MissionHeader/MissionHeader.tsx
  frontend/src/components/Pages/MissionPage/TaskOverview/TaskTable.tsx
Labels: improvement, frontend

#1330 Change utc to local time upon json serialization
  backend/api/Program.cs
  backend/api/Utilities/DateTimeConverter.cs
Labels: bug

#1327 Add rerun button to history table
  frontend/src/components/Pages/MissionHistoryPage/HistoricMissionCard.tsx
  frontend/src/components/Pages/MissionHistoryPage/MissionHistoryView.tsx
  frontend/src/language/no.json
Labels: frontend

#1333 Avoid overflow-y in inspectionTable
  frontend/src/components/Pages/InspectionPage/InspectionTable.tsx
Labels: improvement, frontend

#1335 Move robot controller start functionality to service
  backend/api.test/EventHandlers/TestMissionEventHandler.cs
  backend/api/Controllers/RobotController.cs
  backend/api/EventHandlers/MqttEventHandler.cs
  backend/api/Services/MissionSchedulingService.cs
Labels: breaking-change, improvement

#1351 Include localisation and return mission as default
  backend/api/Controllers/Models/MissionRunQueryStringParameters.cs
  backend/api/Services/MissionRunService.cs
  frontend/src/api/ApiCaller.tsx
  frontend/src/models/MissionRunQueryParameters.ts
Labels: bug

#1365 Fix capitalization issue on installation filter
  frontend/src/components/Pages/InspectionPage/DeckCards.tsx
  frontend/src/components/Pages/InspectionPage/InspectionOverview.tsx
  frontend/src/components/Pages/InspectionPage/InspectionTable.tsx
Labels: bug, frontend

#1357 Ensure map update on updated robot pose
  frontend/src/components/Pages/MissionPage/MapPosition/MissionMapView.tsx
Labels: bug, frontend

#1363 Add functionality for resetting robots
  backend/api/Controllers/RobotController.cs
Labels: feature, backend

#1379 Hide alerts in frontpage
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Pages/FrontPage/FrontPage.tsx
Labels: bug, frontend

#1343 Use Bar as unit for pressure limits
  backend/api/Controllers/Models/CreateRobotModelQuery.cs
  backend/api/Controllers/Models/UpdateRobotModelQuery.cs
  backend/api/Database/Context/InitDb.cs
  backend/api/Database/Models/RobotModel.cs
  frontend/src/components/Displays/LocalizationVerification/ScheduleMissionChecklistDialog.tsx
  frontend/src/components/Displays/RobotDisplays/PressureStatusDisplay.tsx
  frontend/src/components/Pages/FrontPage/RobotCards/RobotStatusCard.tsx
  frontend/src/components/Pages/RobotPage/RobotPage.tsx
  frontend/src/models/RobotModel.ts
Labels: backend, improvement, frontend

#1372 Fix confirm pressure/battery dialogs
  frontend/src/components/Displays/ConfirmScheduleDialogs/ConfirmScheduleDialog.tsx
  frontend/src/components/Displays/ConfirmScheduleDialogs/InsufficientValueDialogs.tsx
  frontend/src/components/Displays/ConfirmScheduleDialogs/LocalizationVerification/ConfirmLocalizationDialog.tsx
  frontend/src/components/Displays/ConfirmScheduleDialogs/LocalizationVerification/ConflictingLocalizationDialog.tsx
  frontend/src/components/Displays/ConfirmScheduleDialogs/LocalizationVerification/ScheduleMissionStyles.tsx
  frontend/src/components/Displays/ConfirmScheduleDialogs/LocalizationVerification/ScheduleMissionWithLocalizationVerification.tsx
  frontend/src/components/Displays/ConfirmScheduleDialogs/LocalizationVerification/UnknownDeckDialog.tsx
  frontend/src/components/Displays/LocalizationVerification/ScheduleMissionChecklistDialog.tsx
  frontend/src/components/Displays/MissionButtons/MissionRestartButton.tsx
  frontend/src/components/Pages/InspectionPage/ScheduleMissionDialogs.tsx
  frontend/src/language/en.json
  frontend/src/language/no.json
Labels: improvement, frontend
