Repository equinor/flotilla, pull requests merged in 2024-12, with the labels that each got.

#1826 Preselect robot if there is only one robot
  frontend/src/components/Pages/InspectionPage/ScheduleMissionDialogs.tsx
Labels: improvement, frontend

#1846 Fix preselection of robot
  frontend/src/components/Pages/InspectionPage/ScheduleMissionDialogs.tsx
Labels: bug, frontend

#1853 Add checklist to PRs
  .github/PULL_REQUEST_TEMPLATE.md
Labels: feature

#1828 Fix styling of close button in NoMissionsDialog
  frontend/src/components/Pages/FrontPage/MissionOverview/ScheduleMissionDialog/NoMissionsDialog.tsx
  frontend/src/components/Pages/RobotPage/RobotArmMovement.tsx
Labels: improvement, frontend

#1865 Do not report failed telemetry to frontend
  backend/api/EventHandlers/MqttEventHandler.cs
Labels: backend, improvement, Northern Lights

#1870 Remove unused IsarStep topic
  backend/api/MQTT/MessageModels/IsarStep.cs
  backend/api/MQTT/MqttService.cs
  backend/api/MQTT/MqttTopics.cs
  frontend/src/models/Inspection.ts
Labels: improvement

#1880 New inspections view
  backend/api/Controllers/InspectionController.cs
  backend/api/Program.cs
  backend/api/Services/InspectionService.cs
  backend/api/Services/Models/IDAInspectionDataResponse.cs
  backend/api/appsettings.Development.json
  backend/api/appsettings.Local.json
  backend/api/appsettings.Production.json
  backend/api/appsettings.Staging.json
  backend/api/appsettings.json
  frontend/src/App.tsx
  frontend/src/api/ApiCaller.tsx
  frontend/src/components/Contexts/InpectionsContext.tsx
  frontend/src/components/Pages/InspectionReportPage.tsx/InspectionStyles.tsx
  frontend/src/components/Pages/InspectionReportPage.tsx/InspectionView.tsx
  frontend/src/components/Pages/MissionPage/MissionPage.tsx
  frontend/src/components/Pages/MissionPage/TaskOverview/TaskTable.tsx
  frontend/src/language/en.json
  frontend/src/language/no.json
Labels: feature, backend, frontend, Northern Lights

#1894 Log if missionrun has no inspection area
  backend/api/Services/MissionSchedulingService.cs
Labels: improvement

#1901 Remove unneeded nullability in event args
  backend/api/EventHandlers/MissionEventHandler.cs
  backend/api/Services/Events/MissionEventArgs.cs
Labels: backend, improvement

#1899 Add exception handling to blob store interactions
  backend/api.test/Mocks/BlobServiceMock.cs
  backend/api.test/Mocks/MapServiceMock.cs
  backend/api/Controllers/InspectionController.cs
  backend/api/Controllers/MapController.cs
  backend/api/Services/BlobService.cs
  backend/api/Services/InspectionService.cs
  backend/api/Services/MapService.cs
Labels: backend, improvement

#1905 Refactor inspection findings/teams code
  backend/api/EventHandlers/InspectionFindingEventHandler.cs
  backend/api/EventHandlers/TeamsMessageEventHandler.cs
Labels: backend, improvement

#1909 Snyk security upgrade Microsoft.Identity.Web from 3.0.0 to 3.3.0
  backend/api/api.csproj
Labels: backend

#1866 Increase time out for isar disconnect
  backend/api/appsettings.json
Labels: improvement

#1915 Adapt docker build to vite
  frontend/Dockerfile
Labels: bug
