Repository equinor/flotilla, pull requests merged in 2024-11, with the labels that each got.

#1788 Add GHA to check for unused exports
  .github/workflows/frontend_lint_and_test.yml
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#1791 Improve Norwegian translation of dock
  frontend/src/language/no.json
Labels: improvement, frontend

#1808 Make marker size relative to map size
  frontend/src/utils/MapMarkers.tsx
Labels: improvement, frontend

#1819 Set log level for battery update to debug
  backend/api/Services/RobotService.cs
Labels: backend, improvement

#1817 Fix estimated duration always being null
  backend/api/Services/ActionServices/TaskDurationService.cs
Labels: bug, backend

#1834 Only display decks if relevant
  frontend/src/components/Pages/InspectionPage/InspectionOverview.tsx
  frontend/src/components/Pages/InspectionPage/InspectionSection.tsx
  frontend/src/language/en.json
  frontend/src/language/no.json
Labels: improvement, frontend

#1827 Change default language to Norwegian
  frontend/src/language/index.tsx
Labels: improvement, frontend
