Repository equinor/flotilla, pull requests merged in 2024-03, with the labels that each got.

#1406 Make header cover all objects when scrolling
  frontend/src/components/Pages/MissionPage/MissionHeader/MissionHeader.tsx
Labels: frontend

#1456 Add possibility to returning the robot home in robot page
  backend/api/Controllers/ReturnToHomeController.cs
  frontend/src/api/ApiCaller.tsx
  frontend/src/components/Pages/RobotPage/RobotPage.tsx
Labels: backend, improvement, frontend

#1476 Remove fix for UTC time. Not postgres compatible
  backend/api/Database/Models/MissionRun.cs
Labels: bug

#1480 Fix gap in asset selection page
  frontend/src/components/Pages/AssetSelectionPage/AssetSelectionPage.tsx
Labels: improvement, frontend

#1481 Fix queued missions being displayed multiple times
  frontend/src/components/Contexts/MissionRunsContext.tsx
Labels: bug, frontend

#1455 Remove unnecessary icons in header
  frontend/src/components/Header/Header.tsx
Labels: good first issue, improvement, frontend

#1169 Add safe zone banner
  frontend/src/components/Alerts/AlertsBanner.tsx
  frontend/src/components/Contexts/AlertContext.tsx
  frontend/src/components/Contexts/SafeZoneContext.tsx
  frontend/src/components/Displays/ConfirmScheduleDialogs/ConfirmScheduleDialog.tsx
  frontend/src/components/Displays/MissionButtons/MissionRestartButton.tsx
  frontend/src/components/Header/Header.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/MissionQueueView.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/SafeZoneBanner.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/ScheduleMissionDialog/SelectMissionsToScheduleDialog.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/StopDialogs.tsx
  frontend/src/components/Pages/FrontPage/RobotCards/RobotStatusSection.tsx
  frontend/src/components/Pages/InspectionPage/InspectionOverview.tsx
  frontend/src/components/Pages/InspectionPage/ScheduleMissionDialogs.tsx
  frontend/src/language/en.json
  frontend/src/language/no.json
Labels: improvement, frontend
