Repository equinor/flotilla, pull requests merged in 2024-02, with the labels that each got.

#1395 Remove timeseries database telemetry updates
  backend/api/Services/ActionServices/BatteryTimeseriesService.cs
  backend/api/Services/ActionServices/PoseTimeseriesService.cs
  backend/api/Services/ActionServices/PressureTimeseriesService.cs
Labels: bug

#1380 Align buttons' text to the left
  frontend/src/components/Alerts/BlockedRobotAlert.tsx
  frontend/src/components/Alerts/FailedMissionAlert.tsx
  frontend/src/components/Alerts/FailedSafeZoneAlertContent.tsx
  frontend/src/components/Displays/MissionButtons/CreateEchoMissionButton.tsx
  frontend/src/components/Displays/MissionDisplays/MissionStatusDisplay.tsx
  frontend/src/components/Pages/InspectionPage/InspectionOverview.tsx
  frontend/src/components/Pages/MissionHistoryPage/HistoricMissionCard.tsx
  frontend/src/components/Pages/MissionHistoryPage/MissionHistoryView.tsx
  frontend/src/components/Pages/RobotPage/RobotArmMovement.tsx
  frontend/src/components/Styles/StyledComponents.tsx
  frontend/src/utils/BackButton.tsx
Labels: frontend

#1430 Fix duplicated source issue for echo missions
  backend/api/Controllers/MissionSchedulingController.cs
  backend/api/Services/ActionServices/CustomMissionSchedulingService.cs
  backend/api/Services/MissionDefinitionService.cs
  backend/api/Services/SourceService.cs
Labels: bug, backend

#1440 Fix non-deterministic tests
  backend/api.test/Client/AreaTests.cs
  backend/api.test/Client/MissionTests.cs
Labels: bug, backend
