Repository equinor/flotilla, pull requests merged in 2024-07, with the labels that each got.

#1659 Check if updated robot model is null
  frontend/src/components/Contexts/RobotContext.tsx
Labels: frontend

#1652 Implement undocking
  backend/api.test/Client/AreaTests.cs
  backend/api.test/Client/MissionTests.cs
  backend/api.test/Database/DatabaseUtilities.cs
  backend/api/Controllers/DeckController.cs
  backend/api/Controllers/Models/CreateDeckQuery.cs
  backend/api/Controllers/Models/CreateDefaultLocalizationPose.cs
  backend/api/Database/Models/DefaultLocalizationPose.cs
  backend/api/Services/DeckService.cs
  backend/api/Services/Models/IsarMissionDefinition.cs
Labels: backend, database-change

#1670 Deleting create new echo mission button and link
  frontend/src/components/Displays/MissionButtons/CreateEchoMissionButton.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/ScheduleMissionDialog/NoMissionsDialog.tsx
  frontend/src/components/Pages/InspectionPage/InspectionOverview.tsx
Labels: good first issue, frontend

#1668 Add missing error handling in frontend
  frontend/src/App.tsx
  frontend/src/components/Contexts/AlertContext.tsx
  frontend/src/components/Contexts/InstallationContext.tsx
  frontend/src/components/Contexts/MissionControlContext.tsx
  frontend/src/components/Contexts/MissionDefinitionsContext.tsx
  frontend/src/components/Contexts/MissionRunsContext.tsx
  frontend/src/components/Contexts/RobotContext.tsx
  frontend/src/components/Pages/AssetSelectionPage/AssetSelectionPage.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/StopDialogs.tsx
  frontend/src/components/Pages/MissionDefinitionPage/MissionDefinitionPage.tsx
  frontend/src/components/Pages/MissionHistoryPage/MissionHistoryView.tsx
  frontend/src/components/Pages/MissionPage/MissionPage.tsx
  frontend/src/components/Pages/RobotPage/RobotPage.tsx
  frontend/src/language/en.json
  frontend/src/language/no.json
Labels: bug, frontend

#1674 Verify installation for inspections in the inspection table
  frontend/src/components/Pages/InspectionPage/InspectionOverview.tsx
  frontend/src/components/Pages/InspectionPage/InspectionSection.tsx
Labels: bug, frontend

#1677 Filter robots by available or busy status
  frontend/src/components/Pages/FrontPage/MissionOverview/ScheduleMissionDialog/SelectMissionsToScheduleDialog.tsx
Labels: frontend

#1682 Update packages
  backend/api.test/Client/AreaTests.cs
  backend/api.test/Client/MissionTests.cs
  backend/api.test/Client/RobotTests.cs
  backend/api.test/Client/RoleAccessTests.cs
  backend/api.test/EventHandlers/TestMissionEventHandler.cs
  backend/api.test/api.test.csproj
  backend/api/EventHandlers/MqttEventHandler.cs
  backend/api/Services/EchoService.cs
  backend/api/Services/RobotModelService.cs
  backend/api/api.csproj
Labels: improvement

#1678 Add detailed signalR logs
  backend/api/appsettings.json
Labels: backend, improvement

#1681 Improve robots card
  frontend/src/components/Displays/RobotDisplays/PressureStatusDisplay.tsx
  frontend/src/components/Displays/RobotDisplays/RobotImage.tsx
  frontend/src/components/Displays/RobotDisplays/RobotStatusChip.tsx
  frontend/src/components/Displays/RobotDisplays/RobotStatusIcon.tsx
  frontend/src/components/Pages/FrontPage/RobotCards/RobotStatusCard.tsx
  frontend/src/components/Pages/RobotPage/RobotPage.tsx
  frontend/src/language/en.json
  frontend/src/language/no.json
  frontend/src/mediaAssets/anymal_x.png
  frontend/src/mediaAssets/robot.png
  frontend/src/mediaAssets/taurob_inspector_no_background.png
  frontend/src/utils/icons.tsx
Labels: improvement, frontend

#1679 Handle database error in event handler
  backend/api/EventHandlers/MissionEventHandler.cs
  backend/api/EventHandlers/MqttEventHandler.cs
  backend/api/Services/MissionRunService.cs
  backend/api/Utilities/Exceptions.cs
Labels: bug, backend

#1680 Only schedule return home if supported by robot
  backend/api.test/Database/DatabaseUtilities.cs
  backend/api.test/EventHandlers/TestMissionEventHandler.cs
  backend/api/Services/MissionSchedulingService.cs
Labels: backend, improvement

#1689 Revert signalr logging changes
  backend/api/appsettings.json
Labels: backend

#1691 Trigger robot available when robot comes online
  backend/api/EventHandlers/IsarConnectionEventHandler.cs
Labels: backend, improvement

#1698 Fix overflow and line break style on robot button cards
  frontend/src/components/Displays/RobotDisplays/BatteryStatusDisplay.tsx
  frontend/src/components/Displays/RobotDisplays/PressureStatusDisplay.tsx
  frontend/src/components/Displays/RobotDisplays/RobotStatusIcon.tsx
  frontend/src/components/Pages/FrontPage/RobotCards/RobotStatusCard.tsx
  frontend/src/language/no.json
Labels: frontend

#1700 Avoid double-tracking robot entry
  backend/api/Controllers/MissionSchedulingController.cs
  backend/api/Services/MissionRunService.cs
  backend/api/Services/RobotService.cs
Labels: bug, backend
