Repository equinor/flotilla, pull requests merged in 2024-06, with the labels that each got.

#1601 Send localisation pose to ISAR in mission
  backend/api/Services/Models/IsarMissionDefinition.cs
Labels: backend, improvement

#1609 Add exception handling in event handlers
  backend/api/Database/Models/MissionRun.cs
  backend/api/EventHandlers/IsarConnectionEventHandler.cs
  backend/api/EventHandlers/MissionEventHandler.cs
  backend/api/EventHandlers/MqttEventHandler.cs
  backend/api/Services/ActionServices/BatteryTimeseriesService.cs
  backend/api/Services/ActionServices/PoseTimeseriesService.cs
  backend/api/Services/ActionServices/PressureTimeseriesService.cs
Labels: backend, improvement

#1616 Fix buttons disappearing on long maps
  frontend/src/components/Displays/ConfirmScheduleDialogs/LocalizationVerification/ScheduleMissionStyles.tsx
  frontend/src/utils/DeckMapView.tsx
Labels: bug, frontend

#1617 Prevent frontend from crashing on empty signalR message
  frontend/src/components/Contexts/SignalRContext.tsx
Labels: bug, frontend

#1627 Remove delocalisation on timeout
  backend/api/EventHandlers/IsarConnectionEventHandler.cs
Labels: bug, backend
