Repository equinor/flotilla, pull requests merged in 2024-09, with the labels that each got.

#1733 Limit logging when fetching user info
  backend/api/Services/MissionRunService.cs
  backend/api/Services/UserInfoServices.cs
Labels: backend, improvement

#1709 Add image to asset page
  frontend/src/components/Pages/AssetSelectionPage/AssetSelectionPage.tsx
  frontend/src/mediaAssets/assetPage.jpg
Labels: frontend

#1743 Add current installation when reading mission runs
  backend/api/Services/MissionRunService.cs
Labels: bug, backend
