Repository equinor/flotilla, pull requests merged in 2025-03, with the labels that each got.

#2053 Fix delete feature of auto scheduling
  backend/api/Controllers/Models/MissionDefinitionResponse.cs
  backend/api/Database/Context/FlotillaDbContext.cs
  backend/api/Database/Models/AutoScheduleFrequency.cs
  backend/api/Services/MissionDefinitionService.cs
Labels: database-change

#2056 Do not check if return home mission is inside inspection area
  backend/api/Services/MissionSchedulingService.cs
Labels: bug

#2059 Log warning for tasks outside area polygon
  backend/api/Services/InspectionAreaService.cs
Labels: improvement

#2046 Prevent backend from crashing if no inspectionArea
  backend/api/EventHandlers/MissionEventHandler.cs
  backend/api/Services/MissionSchedulingService.cs
Labels: bug, backend

#2050 Visualize auto scheduled missions
  frontend/src/components/Pages/FrontPage/AutoScheduleSection/AutoScheduleSection.tsx
  frontend/src/components/Pages/FrontPage/FrontPage.tsx
  frontend/src/language/en.json
  frontend/src/language/no.json
Labels: feature, frontend

#2069 Fix tasks already being completed upon scheduling
  backend/api/Controllers/MissionSchedulingController.cs
  backend/api/Database/Models/MissionTask.cs
Labels: bug, backend

#2071 Fix return to home not running on low battery
  backend/api/Services/MissionSchedulingService.cs
Labels: bug, backend

#2072 Add auto scheduling fail banner to notify the user
  backend/api.test/Mocks/SignalRServiceMock.cs
  backend/api/HostedServices/InspectionFrequencyHostedService.cs
  backend/api/Services/SignalRService.cs
  frontend/src/components/Alerts/FailedAlertContent.tsx
  frontend/src/components/Contexts/AlertContext.tsx
  frontend/src/language/en.json
  frontend/src/language/no.json
Labels: frontend

#2083 Fix add mission to queue dialogs
  frontend/src/components/Pages/FrontPage/MissionOverview/ScheduleMissionDialog/SelectMissionsToScheduleDialog.tsx
  frontend/src/components/Pages/InspectionPage/ScheduleMissionDialogs.tsx
Labels: frontend

#2075 Capitalize first letter of auto schedule table
  frontend/src/components/Pages/FrontPage/AutoScheduleSection/AutoScheduleSection.tsx
  frontend/src/components/Pages/MissionPage/TaskOverview/TaskTable.tsx
  frontend/src/utils/StringFormatting.tsx
Labels: improvement, frontend

#2090 Change tj-actions to version without security issue
  .github/workflows/notifyPossibleMigrationUpdate.yml
  .github/workflows/verifyMigrations.yml
Labels: improvement

#2092 Update npm packages
  frontend/package-lock.json
  frontend/package.json
Labels: improvement, frontend

#2082 Improve robot page
  frontend/src/components/Pages/RobotPage/PressureTable.tsx
  frontend/src/components/Pages/RobotPage/ReturnHomeButton.tsx
  frontend/src/components/Pages/RobotPage/RobotArmMovement.tsx
  frontend/src/components/Pages/RobotPage/RobotPage.tsx
Labels: frontend

#2091 Fix naming in autoscheduler
  backend/api/HostedServices/AutoSchedulingHostedService.cs
Labels: backend, improvement

#2116 Fix update error in delete mission def endpoint
  backend/api/Controllers/MissionDefinitionController.cs
  backend/api/Services/MissionDefinitionService.cs
Labels: backend

#2109 Align buttons on missionControlCard
  frontend/src/components/Pages/FrontPage/MissionOverview/OngoingMissionCard.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/RobotCard.tsx
Labels: improvement, frontend

#2121 Add view mission definition button
  frontend/src/components/Pages/MissionDefinitionPage/MissionDefinitionPage.tsx
  frontend/src/components/Pages/MissionPage/MissionHeader/MissionHeader.tsx
  frontend/src/language/en.json
  frontend/src/language/no.json
Labels: improvement, frontend

#2128 Update npm packages
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#2133 Wrap tabs if too small screen
  frontend/src/components/Pages/FrontPage/FrontPage.tsx
Labels: improvement, frontend

#2132 Improve alerts list
  frontend/src/components/Alerts/AlertsListItem.tsx
  frontend/src/components/Header/AlertIcon.tsx
Labels: improvement, frontend
