Repository equinor/flotilla, pull requests merged in 2025-01, with the labels that each got.

#1919 Unify return to home and docking naming
  backend/api/Controllers/Models/MissionRunQueryStringParameters.cs
  backend/api/Controllers/ReturnToHomeController.cs
  backend/api/Database/Models/MissionRun.cs
  backend/api/Database/Models/MissionTask.cs
  backend/api/Services/MissionSchedulingService.cs
  backend/api/Services/ReturnToHomeService.cs
Labels: good first issue, backend, improvement

#1932 Fix nested buttons
  frontend/src/components/Displays/MissionButtons/MissionControlButtons.tsx
Labels: bug, frontend

#1935 Make inspection report dialog dismissable
  frontend/src/components/Pages/InspectionReportPage.tsx/InspectionView.tsx
Labels: improvement, frontend

#1918 Add constant string to use query key
  frontend/src/components/Pages/InspectionReportPage.tsx/InspectionView.tsx
Labels: improvement, frontend

#1962 Add header to mission queue
  frontend/src/components/Pages/FrontPage/MissionOverview/MissionQueueView.tsx
  frontend/src/language/en.json
  frontend/src/language/no.json
Labels: frontend

#1945 Remove unused packages
  frontend/package-lock.json
  frontend/package.json
Labels: improvement, frontend

#1963 Move create return home to starting mission
  backend/api.test/EventHandlers/TestMissionEventHandler.cs
  backend/api.test/Services/MissionRunService.cs
  backend/api.test/Services/MissionSchedulingService.cs
  backend/api/Controllers/ReturnToHomeController.cs
  backend/api/Controllers/RobotController.cs
  backend/api/EventHandlers/IsarConnectionEventHandler.cs
  backend/api/EventHandlers/MissionEventHandler.cs
  backend/api/Services/MissionRunService.cs
  backend/api/Services/MissionSchedulingService.cs
  backend/api/Services/ReturnToHomeService.cs
Labels: backend

#1964 Fix order of hooks error
  frontend/src/components/Pages/FrontPage/MissionOverview/MissionControlSection.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/OngoingMissionCard.tsx
  frontend/src/utils/IsRobotReadyToRunMissions.tsx
Labels: bug, frontend

#1969 Prevent spam-click of return home button
  frontend/src/components/Pages/RobotPage/ReturnHomeButton.tsx
  frontend/src/components/Pages/RobotPage/RobotPage.tsx
Labels: improvement, frontend

#1967 Handle empty media stream config
  backend/api.test/Mocks/IsarServiceMock.cs
  backend/api/Controllers/MediaStreamController.cs
  backend/api/Services/IsarService.cs
  frontend/src/api/ApiCaller.tsx
  frontend/src/components/Contexts/MediaStreamContext.tsx
Labels: improvement

#1979 Update System.Linq.Dynamic.Core to 1.6.0
  backend/api/api.csproj
Labels: backend

#1983 Fix SNYK suggestions
  .editorconfig
  backend/api.test/Controllers/MissionSchedulingControllerTests.cs
  backend/api/Controllers/MissionSchedulingController.cs
  backend/api/EventHandlers/InspectionFindingEventHandler.cs
  backend/api/EventHandlers/MqttEventHandler.cs
  backend/api/Services/EchoService.cs
  backend/api/Services/MissionSchedulingService.cs
  backend/api/Services/Models/IsarMission.cs
  backend/api/Services/ReturnToHomeService.cs
  backend/d1.py
  frontend/package-lock.json
  frontend/src/api/ApiCaller.tsx
  frontend/src/components/Contexts/AuthProvider.tsx
  frontend/src/components/Displays/RobotDisplays/BatteryStatusDisplay.tsx
  frontend/src/components/Displays/RobotDisplays/RobotStatusIcon.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/StopDialogs.tsx
  frontend/src/components/Pages/InspectionPage/InspectionUtilities.tsx
  frontend/src/components/Pages/MissionDefinitionPage/MissionDefinitionPage.tsx
  frontend/src/components/Pages/MissionPage/MapPosition/MissionMapView.tsx
  frontend/src/components/Pages/MissionPage/StatusReason.tsx
  frontend/src/utils/InspectionAreaMapView.tsx
  frontend/src/utils/IsRobotReadyToRunMissions.tsx
Labels: improvement

#1985 Update node packages
  frontend/package-lock.json
  frontend/package.json
Labels: improvement, frontend

#1990 Allow switching of inspection by using key arrows
  frontend/src/components/Pages/InspectionReportPage/InspectionView.tsx
Labels: feature, frontend

#1989 Contain inspection image in dialog
  frontend/src/components/Pages/InspectionReportPage/InspectionStyles.tsx
  frontend/src/components/Pages/InspectionReportPage/InspectionView.tsx
Labels: bug, frontend

#1968 Use IDA MQTT message to update inspection view
  backend/api/EventHandlers/MqttEventHandler.cs
  backend/api/MQTT/MessageModels/IdaInspectionResult.cs
  backend/api/MQTT/MqttService.cs
  backend/api/MQTT/MqttTopics.cs
  backend/api/appsettings.Development.json
  backend/api/appsettings.Local.json
  backend/api/appsettings.Production.json
  backend/api/appsettings.Staging.json
  backend/api/appsettings.Test.json
  broker/mosquitto/config/access_control
  frontend/src/App.tsx
  frontend/src/components/Contexts/InpectionsContext.tsx
  frontend/src/components/Contexts/SignalRContext.tsx
  frontend/src/components/Pages/InspectionReportPage/InspectionReportUtilities.tsx
  frontend/src/components/Pages/InspectionReportPage/InspectionStyles.tsx
  frontend/src/components/Pages/InspectionReportPage/InspectionView.tsx
  frontend/src/models/Inspection.ts
Labels: backend, improvement, frontend
