Repository equinor/flotilla, pull requests merged in 2025-02, with the labels that each got.

#2004 Change pressure log to debug level
  backend/api/Services/RobotService.cs
Labels: backend

#2007 Fix problem of duplicate robot poses
  backend/api/Services/EchoService.cs
Labels: bug, backend

#2008 Fix inspection report for mobile
  frontend/src/components/Pages/InspectionReportPage/InspectionStyles.tsx
  frontend/src/components/Pages/InspectionReportPage/InspectionView.tsx
Labels: improvement, frontend

#2020 Remove stale comments
  .github/workflows/stale.yml
Labels: improvement

#2022 Remove outdated popup text
  frontend/src/language/en.json
  frontend/src/language/no.json
Labels: bug, frontend

#2019 Use default HTML5 fullscreen for video
  frontend/src/components/Pages/MissionPage/VideoStream/FullScreenVideo.tsx
  frontend/src/components/Pages/MissionPage/VideoStream/VideoPlayerSimpleStream.tsx
  frontend/src/components/Pages/MissionPage/VideoStream/VideoStreamCards.tsx
  frontend/src/components/Pages/MissionPage/VideoStream/VideoStreamWindow.tsx
Labels: improvement, frontend

#1995 Filter out return to home from history
  frontend/src/components/Contexts/MissionFilterContext.tsx
  frontend/src/components/Pages/MissionHistoryPage/FilterSection.tsx
  frontend/src/components/Pages/MissionHistoryPage/MissionHistoryView.tsx
  frontend/src/language/en.json
  frontend/src/language/no.json
Labels: feature, frontend

#2036 Rename stop button to skip
  frontend/src/components/Displays/MissionButtons/MissionControlButtons.tsx
  frontend/src/language/en.json
  frontend/src/language/no.json
Labels: improvement, frontend

#2048 Filter away deprecated robots in robotservice
  backend/api/Services/RobotService.cs
Labels: bug, good first issue, backend
