Repository equinor/flotilla, pull requests merged in 2025-04, with the labels that each got.

#2119 Add remove missions in the queue button
  backend/api/Controllers/MissionRunController.cs
  frontend/src/api/ApiCaller.tsx
  frontend/src/components/Pages/FrontPage/MissionOverview/MissionQueueView.tsx
  frontend/src/language/en.json
  frontend/src/language/no.json
Labels: feature, backend, frontend

#2136 Add auto scheduler test
  backend/api.test/Database/DatabaseUtilities.cs
  backend/api.test/HostedServices/TestAutoSchedulingHostedService.cs
  backend/api/HostedServices/AutoSchedulingHostedService.cs
Labels: backend

#2141 Upgrade npm packages
  frontend/package-lock.json
  frontend/package.json
Labels: improvement, frontend

#2155 Fix failing test on windows
  backend/api.test/Controllers/InspectionAreaControllerTests.cs
Labels: bug, backend
