Repository equinor/flotilla, pull requests merged in 2025-07, with the labels that each got.

#2269 Fix style variations on banners
  frontend/src/components/Alerts/AlertStyles.tsx
  frontend/src/components/Alerts/BlockedRobotAlert.tsx
  frontend/src/components/Alerts/DockAlert.tsx
  frontend/src/components/Alerts/FailedAlertContent.tsx
  frontend/src/components/Alerts/FailedMissionAlert.tsx
  frontend/src/components/Alerts/FailedRequestAlert.tsx
  frontend/src/components/Alerts/InfoAlertContent.tsx
Labels: good first issue, improvement, frontend

#2284 Add SignalRMessage for return-home-failure
  backend/api/EventHandlers/MqttEventHandler.cs
  frontend/src/components/Alerts/FailedAlertContent.tsx
Labels: good first issue, backend, improvement

#2291 Improve not found page
  frontend/src/components/Pages/FlotillaSite.tsx
  frontend/src/components/Pages/NotFoundPage.tsx
  frontend/src/components/Pages/PageRouter.tsx
  frontend/src/mediaAssets/404notfound.png
Labels: frontend

#2292 Add missing translation
  frontend/src/language/en.json
  frontend/src/language/no.json
Labels: bug, frontend

#2306 Improve timestamp in broker logs
  broker/mosquitto/config/mosquitto.conf
Labels: improvement

#2296 Improve alert list
  frontend/src/components/Alerts/AlertsListItem.tsx
  frontend/src/components/Header/AlertIcon.tsx
Labels: improvement, frontend

#2297 Add tests for auth
  backend/api.test/Security/AuthenticationControllerTests.cs
  backend/api.test/TestNoAuthWebApplicationFactory.cs
  backend/api.test/TestSetupHelpers.cs
Labels: backend

#2315 Give feedback if no inspection area for robot
  backend/api/Services/MissionSchedulingService.cs
Labels: bug, backend
